@use "../scss" as *;

.account-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  //   background: #000;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: white;

    @include mobile {
      flex-direction: column;
    }

    .image {
      margin: 10px 30px;
      img {
        height: 200px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }

    .details {
      .upgrade-button {
        margin: 10px -5px;
      }
    }
  }
}
.select-subscription {
  height: 500px;
  //   background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .plans {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }

  h1 {
  }

  .plan {
    box-sizing: border-box;
    height: 300px;
    width: 250px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 10px;
    background: #fff;
    h2 {
      text-align: center;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
    }
    ul {
      list-style-type: circle;

      li {
        border-bottom: 0.1px solid #ccc;
        display: flex;
        span {
          display: block;
          margin-left: 10px;
        }
      }
    }
  }
}
